project_name   = "travelguide"
environment    = "prod"
aws_region     = "us-east-1"
instance_type  = "t3.micro"

# Opcional: deixe vazio para usar default VPC/subnet
vpc_id    = ""
subnet_id = ""

app_port  = 3000
host_port = 80

# Obrigatório: imagem já publicada no ECR
container_image = "596055752742.dkr.ecr.us-east-1.amazonaws.com/travelguide:latest"

plain_env = {
NODE_ENV = "production"
GEMINI_API_KEY = "YOUR_GEMINI_API_KEY_HERE"
GEMINI_MODEL = "gemini-2.0-flash-latest"

}
